.header {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid grey;
  align-items: center;
}

.authContainer {
  margin: 0 auto;
}

.authBtn {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 250ms linear;
}

.authBtn:not(:first-child) {
  margin-left: 20px;
}

.authBtn:hover {
  background-color: orange;
  color: white;
}

.logOutContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logOutText {
  margin: 0;
}
